<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
	<div th:include="layout/cabecalho :: header"></div>

	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
				<li class="breadcrumb-item active">Blank Page</li>
			</ol>
			
			<div th:if="${mensagem}" class="alert alert-danger">
			  <div th:text="${mensagem}"></div>
			</div>
			
			<div th:if="${mensagemSave}" class="alert alert-success">
			  <div th:text="${mensagemSave}"></div>
			</div>

			<form method="POST" th:action="@{/categorias}" th:object="${categoria}">
				<input type="hidden" th:field="*{id}"></input>
				<div class="row">
					<div class="col-lg-offset-3 col-lg-3">
						<label class='control-label'>Categoria</label>
						<div class="input-group">

							<input type="text" class="form-control" th:field="*{nome}" placeholder="Categoria" /> 
						</div>
					</div>
					
					<div class="col-lg-offset-3 col-lg-3">
						<label class='control-label'>Estoque Mínimo</label>
						<div class="input-group">

							<input type="text" class="form-control"  th:field="*{estoqueMinimo}" placeholder="Estoque Mínimo" /> <span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Salvar</button>
							</span>
						</div>
					</div>
					
				</div>
			</form>

			<hr />
			<div class="card mb-3">

				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>Categoria</th>
								<th>Estoque Minímo</th>
								<th>Ação</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
								<th>Categoria</th>
								<th>Estoque Minímo</th>
								<th>Ação</th>
							</tr>
						</tfoot>
						<tbody>
							<tr th:each="categoria : ${categorias}">
								<td><span th:text="${categoria.nome}"></span></td>
								<td><span th:text="${categoria.estoqueMinimo}"></span></td>
								<td>
<!-- 									<a th:href="@{/categorias/delete/{id}(id=${categoria.id})}"><span class=" btn btn-danger btn-sm fa fa-trash-o"></span> </a>  -->
									<div class="btn btn-primary btn-sm" th:onclick="|carregaEdicaoCategoria('${categoria.id}')|"><span class="fa fa-pencil"></span> </div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div th:include="layout/rodape :: footer"></div>
</body>

</html>
