<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body class="fixed-nav sticky-footer bg-dark sidenav-toggled" id="page-top">
	<div th:include="layout/cabecalho :: header"></div>
	<div class="content-wrapper">
		<div class="container-fluid">
			<!-- Breadcrumbs-->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
				<li class="breadcrumb-item active">Blank Page</li>
			</ol>

			<div th:if="${erro}" class="alert alert-danger">
				<div th:text="${erro}"></div>
			</div>


			<form method="POST" th:action="@{/email/alterUser}" th:object="${usuario}">
				<input type="hidden"  th:field="*{id}"></input>
				<input type="hidden"  th:field="*{ativo}"></input>
				<input class='form-control' size='4' type='hidden' th:field="*{login}"/>
				<div class="row">
					<div class="col-4">
						<label class='control-label'>Nome</label> <input class='form-control' size='4' type='text'  th:field="*{nome}"/>
					</div>
					
					<div class="col-5">
						<label class='control-label'>E-mail</label> <input class='form-control' size='4' type='email' th:field="*{email}"/>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<label class='control-label'>Alterar senha</label> <input class='form-control' size='4' type='password' th:field="*{senha}"/>
					</div>
					<div class="col-4">
						<label class='control-label'>Digite novamente</label> <input class='form-control' size='4' type='password' name="senhaNovamente"/>
					</div>

				</div>

				<hr />
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
		</form>
	</div>
	</div>
	<div th:include="layout/rodape :: footer"></div>
</body>
</html>
